<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style/finalizacao_compra.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/public/img/DIY_Logo.ico" type="image/x-icon">
    <title>DIY - Gamer Solutions</title>
    <script src="/public/js/hamburguer.js" defer></script>
</head>

<body>
    <header>
        <nav id="nav-logo">
            <a href="/public/views/home.html"><img class="logo" src="/public/img/DIY.png" alt=""></a>
        </nav>
        <nav id="nav-menu">
            <ul id="menu">
                <li><a href="#first">ENTRY EDITION</a></li>
                <li><a href="#second">GAMER EDITION</a></li>
                <li><a href="#third">WORK EDITION</a></li>
            </ul>
        </nav>
        <nav id="icons">
            <a id="menu-user" href=""><img class="menu-icons" src="/public/img/account.png" alt=""></a>
            <a id="menu-dropdown" href=""><img class="menu-icons icon-small" src="/public/img/arrow-down.png"
                    alt=""></a>
            <a id="menu-cart" href="/public/views/Carrinho.html"><img class="menu-icons" src="/public/img/cart.png" alt=""></a>
            <div id="menu-sandwich">
                <img class="menu-icons" src="/public/img/menu hamburguer.png" alt="">
            </div>

        </nav>

    </header>

    <main>

        <section class="painel">
            <div class="container">
                <div class="pedidos">
                    <h1 class="seus-pedidos">Finalização</h1>
                    <div class="frase">
                        <div>
                            <p>Como deseja pagar?</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="listagem">
            <div class="menu-horizontal">

                <div id="menu-inicial">
                    <a id="menu-endereco" class="menu-finalizacao" href="/public/views/finalizacao_endereco.html">
                        <div>
                            <span>Endereço</span>
                        </div>
                    </a>
                    <span id="menu-pagamento" class="menu-finalizacao" href="/public/views/finalizacao_compra.html">
                        <div>
                            <span>Pagamento</span>
                        </div>
                    </span>
                </div>


                <div id="forma-pagamento">

                    <div id="sessao-pagamento-descricao">
                        <span>Forma de Pagamento</span>
                    </div>

                    <div id="sessao-pagamento">

                        <div id="pagamento-avista" class="menu-box">
                            <span>à Vista</span>
                            <div class="pagamento-descricao">
                                <p>Total <span class="valor-total">R$52.500,00</span></p>
                                <p>Nas compras por boleto você recebe 5% de desconto</p>
                            </div>
                            <div class="condicao-pagamento">
                                <button><img src="/public/img/pagamento.png" alt=""> <span>Boleto</span> </button>
                            </div>

                        </div>


                        <div id="pagamento-parcelado" class="menu-box">
                            <span>Parcelamento</span>
                            <div class="pagamento-descricao">
                                <p>Total <span class="valor-total">R$52.500,00</span></p>
                                <p>Parcelamento em 12x de <span class="valor-parcelado">R$4.375</span></p>
                            </div>

                            <div class="condicao-pagamento">
                                <button><img src="/public/img/debit-card.png" alt=""> <span>Cartão</span> </button>
                                <button><img src="/public/img/paypal.png" alt=""> <span>PayPal</span> </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="menu-vertical">
                <div>
                    <h1>Resumo do pedido <span>#001</span></h1>
                    <span>Frete grátis para todo o Brasil </span>
                    <div><span>Subtotal</span><span>R$ 52.500,00</span></div>
                    <div><span>Frete</span><span>R$ 0,00</span></div>
                    <div><span>Total</span><span>R$ 52.500,00</span></div>
                </div>
            </div>
        </section>

    </main>

    <section class="sobre">
        <div>
            <div id="texto">
                <h1>DO IT YOURSELF</h1>
                <span>Gamer Solutions</span>
                <P>
                <h2>SOBRE NÓS</h2>
                </p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Quae aspernatur eligendi unde molestias consequatur officiis, doloremque, et illum quas,
                    ipsa cupiditate blanditiis quod ducimus accusantium repellendus exercitationem veniam obcaecati?
                    Fugit?</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Quae aspernatur eligendi unde molestias consequatur officiis, doloremque, et illum quas,
                    ipsa cupiditate blanditiis quod ducimus accusantium repellendus exercitationem veniam obcaecati?
                    Fugit?</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Quae aspernatur eligendi unde molestias consequatur officiis, doloremque, et illum quas,
                    ipsa cupiditate blanditiis quod ducimus accusantium repellendus exercitationem veniam obcaecati?
                    Fugit?</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Quae aspernatur eligendi unde molestias consequatur officiis, doloremque, et illum quas,
                    ipsa cupiditate blanditiis quod ducimus accusantium repellendus exercitationem veniam obcaecati?
                    Fugit?</p>


            </div>
            <div id="sobre-links">
                <div class="links">
                    <h3>COMPUTADORES</h3>
                    <ul>
                        <li>
                            <a href="">Entry Edition</a>
                        </li>
                        <li><a href="">Gamer Edition</a></li>
                        <li><a href="">Work Edition</a></li>

                    </ul>
                </div>
                <div class="links">
                    <h3>LINKS ÚTEIS</h3>
                    <ul>
                        <li>
                            <a href="">Trocas</a>
                        </li>
                        <li><a href="">Contato</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </section>
    </main>


</body>

</html>