<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style/PainelUsuario.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/public/img/DIY_Logo.ico" type="image/x-icon">
    <title>DIY - Gamer Solutions</title>
    <script src="/public/js/hamburguer.js" defer></script>
</head>

<body>
    <header>
        <nav id="nav-logo">
            <a href="index.html"><img class="logo" src="/public/img/DIY.png" alt=""></a>
        </nav>
        <nav id="nav-menu">
            <ul id="menu">
                <li><a href="#first">ENTRY EDITION</a></li>
                <li><a href="#second">GAMER EDITION</a></li>
                <li><a href="#third">WORK EDITION</a></li>
            </ul>
        </nav>
        <nav id="icons">
            <a id="menu-user" href=""><img class="menu-icons" src="/public/img/account.png" alt=""></a>
            <a id="menu-dropdown" href=""><img class="menu-icons icon-small" src="/public/img/arrow-down.png"
                    alt=""></a>
            <a id="menu-cart" href=""><img class="menu-icons" src="/public/img/cart.png" alt=""></a>
            <div id="menu-sandwich" >
                <img class="menu-icons" src="/public/img/menu hamburguer.png" alt="">
            </div>
            
        </nav>

    </header>

    <main>

        <section class="painel">
            <div class="container">
                <div class="pedidos">
                    <h1 class="seus-pedidos">Seus pedidos</h1>
                        <div class="frase">
                            <div><p>Todos eles estão aqui.</p></div>
                        </div>
                 </div>
            </div>
        </section>

        <section>
            <div class="menu-horizontal">
                <ul>
                    <li>
                        Pedido #
                    </li>
                    <li>
                        Data
                    </li>
                    <li>
                        Total
                    </li>
                    <li>
                        Status
                    </li>
                    <li>
                        Ação
                    </li>
                </ul>
            </div>

            <div class="menu-vertical">
                <ul>
                    
                    <li><a href="#"><img class="icones" src="/public/img/pedido.png" alt=""></a>Pedidos</li>
                    <li><a href="#"><img class="icones" src="/public/img/carteira-de-identidade.png" alt=""></a>Dados Pessoais</li>
                    <li><a href="#"><img class="icones" src="/public/img/endereco-residencial.png" alt=""></a>Endereço</li>
                    <li><a href="#"><img class="icones" src="/public/img/sair.png" alt=""></a>Sair</li>
                </ul>
            </div>
 

    </main>

    <section class="sobre">
        <div>
            <div id="texto">
                <h1>DO IT YOURSELF</h1>
                <span>Gamer Solutions</span>
                <P>
                <h2>SOBRE NÓS</h2>
                </p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Quae aspernatur eligendi unde molestias consequatur officiis, doloremque, et illum quas,
                    ipsa cupiditate blanditiis quod ducimus accusantium repellendus exercitationem veniam obcaecati?
                    Fugit?</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Quae aspernatur eligendi unde molestias consequatur officiis, doloremque, et illum quas,
                    ipsa cupiditate blanditiis quod ducimus accusantium repellendus exercitationem veniam obcaecati?
                    Fugit?</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Quae aspernatur eligendi unde molestias consequatur officiis, doloremque, et illum quas,
                    ipsa cupiditate blanditiis quod ducimus accusantium repellendus exercitationem veniam obcaecati?
                    Fugit?</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Quae aspernatur eligendi unde molestias consequatur officiis, doloremque, et illum quas,
                    ipsa cupiditate blanditiis quod ducimus accusantium repellendus exercitationem veniam obcaecati?
                    Fugit?</p>


            </div>
            <div id="sobre-links">
                <div class="links">
                    <h3>COMPUTADORES</h3>
                    <ul>
                        <li>
                            <a href="">Entry Edition</a>
                        </li>
                        <li><a href="">Gamer Edition</a></li>
                        <li><a href="">Work Edition</a></li>

                    </ul>
                </div>
                <div class="links">
                    <h3>LINKS ÚTEIS</h3>
                    <ul>
                        <li>
                            <a href="">Trocas</a>
                        </li>
                        <li><a href="">Contato</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </section>
    </main>

    
</body>

</html>