<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/style/produto_detalhes.css">
    <link rel="shortcut icon" href="/public/img/DIY_Logo.ico" type="image/x-icon">
    <title>PC Gamer X | DIY</title>
</head>
<body>
    <header>
        <nav id="nav-logo">
            <a href="/public/views/home.html"><img class="logo" src="/public/img/DIY.png" alt=""></a>
        </nav>
        <nav id="nav-menu">
            <ul id="menu">
                <li><a href="/public/views/produto.html">ENTRY EDITION</a></li>
                <li><a href="/public/views/produto.html">GAMER EDITION</a></li>
                <li><a href="/public/views/produto.html">WORK EDITION</a></li>
            </ul>
        </nav>
        <nav id="icons">
            <a id="menu-user" href=""><img class="menu-icons" src="/public/img/account.png" alt=""></a>
            <a id="menu-dropdown" href=""><img class="menu-icons icon-small" src="/public/img/arrow-down.png" alt=""></a>
            <a id="menu-cart" href=""><img class="menu-icons" src="/public/img/cart.png" alt=""></a>
            <a id="menu-sandwich" href=""><img class="menu-icons" src="/public/img/menu-4-512.png" alt=""></a>
        </nav>

    </header>
    <main>
        <section id="case">
            <div>
                <h1 id="pc-name">INDEX.EXE</h1>
                <h3 id="pc-description">Tudo que você precisa</h3>
            </div>


        </section>









        <section class="pc-information" id="gpu">
            <div class="background-img" id="gpu-image">

            </div>
            <div class="information details" >
                <div>
                    <div>
                        <Span class="title-1">Configure do seu jeito</Span>
                        <Span class="subtitle-1">Configure a peformace conforme sua nescessidade </Span>
                    </div>
                    <div class="shopping-butons">
                        <p> <span>Placa de vídeo</span> NVIDIA GeForce RTX 3080 Ti 12GB</p>
                        <div>
                            <button type="button" name="gpu">RTX 3080</button>
                            <button name="gpu">RTX 3090</button>
                            <button name="gpu">RTX 4080</button>
                            <button name="gpu">RTX 4080</button>
                        </div>
                        <p>Cuda Cores: 10240. Clock: 1.67GHz. Memória: 12GB GDDR6X</p>
                        <p> <span>Memória</span> 2x 16GB DDR4 3600Mhz</p>
                        <div>
                            <button>16GB</button>
                            <button>32GB</button>
                            <button>64GB</button>
                            <button>128GB</button>
                        </div>
                        <p>Total: 16GB. Clock: 3600Mhz. Dual Channel</p>

                    </div>
                </div>

            </div>
        </section>





        <section class="pc-information information-text" id="constrution">
            <div class="information details" >
                <span class="title-2">Impecável nos mais minimos detalhes</span>
                <span class="subtitle-2">Produzida pelos melhores profissionais</span>
                <p>A experiência e dedicação aplicada na construção de cada computador garante nível máximo de
                    estabilidade e performance de todos componentes de hardware.</p>
            </div>
            <div class="background-img" id="construction-image">

            </div>
        </section>






        <section class="pc-information" id="ssd">
            <div class="background-img" id="ssd-image">

            </div>
            <div class="information details" >
                <div>
                    <div>
                        <Span class="title-1">Armazenamento</Span>
                        <Span class="subtitle-1">Defina o espaço de armazenamento. </Span>
                    </div>
                    <div class="shopping-butons">
                        <p> <span>SSD Nvme</span> 240GB NVME SN850</p>
                        <div>
                            <button type="button" name="nvme" >240GB</button>
                            <button type="button" name="nvme">500GB</button>
                            <button type="button" name="nvme">1TB</button>
                            <button type="button" name="nvme">2TB</button>
                        </div>
                        <span>Cuda Cores: 10240. Clock: 1.67GHz. Memória: 12GB GDDR6X</span>
                        <p> <span>SSD Sata</span> </p>
                        <div>
                            <button type="button" name="ram" >240GB</button>
                            <button type="button" name="ram">500GB</button>
                            <button type="button" name="ram">1TB</button>
                            <button type="button" name="ram">2TB</button>
                        </div>
                        <span>Total: 16GB. Clock: 3600Mhz. Dual Channel</span>

                    </div>
                </div>

            </div>
        </section>




        <section class="pc-information information-text" id="performace">
            <div class="information details" >
                <span class="title-2">Rigidamente testada</span>
                <span class="subtitle-2">Performace pra não te deixar na mão</span>
                <p>Todas máquinas passam por uma estrita rotina de testes que garante máxima
                    estabilidade e desempenho antes de chegar às suas mãos.</p>
            </div>
            <div class="background-img" id="performace-image">

            </div>
        </section>




        <section class="pc-information" id="cooler">
            <div class="background-img" id="cooler-image">

            </div>
            <div class="information details" >
                <div>
                    <div>
                        <Span class="title-1">Refrigeramento</Span>
                        <Span class="subtitle-1">Escolha a solução de refrigeramento </Span>
                    </div>
                    <div class="shopping-butons">
                        <p> <span>Water Cooler</span> MasterLiquid ML240L V2 RGB, 240mm</p>
                        <div>
                            <button type="button" name="nvme" >240mm</button>

                        </div>

                    </div>
                </div>
            </div>
        </section>



        <section id="description">
            <div>
                <div id="description-title">
                    <h1>PC GAMER INDEX.EXE</h1>
                    <hr>
                    </hr>
                </div>
                <div id="description-text">

                    <p> Conheça o apogeu de todas dimensões que tornam um computador excepcional — confiabilidade,
                        desempenho, design e acabamento.
                        Minunciosamente construído com o que há de melhor para uma experiência plena nos jogos da nova
                        geração. Usufrua de performance máxima no gameplay e no streaming, sempre com qualidade visual
                        deslumbrante proporcionada pelas tecnologias exclusivas de Ray Tracinge DLSS, que estão
                        presentes
                        nas placas de vídeo NVIDIA RTX com arquitetura Ampere.</p>

                    <p>As novas memórias DDR5 estão na INDEX.EXE para proporcionar o máximo de performance no
                        barramento,
                        utilizando os módulos com impressionantes 5200Mhz de frequência de operação.</p>

                    <p> Experimente a velocidade do SSD mais rápido do mundo, com abertura de jogos e aplicativos poucos
                        segundos graças às taxas de transferências de dados acima de 7000MB por segundo. Ligar o
                        computador e carregar suas aplicações pode acontecer em um piscar de olhos.</p>

                    <p> A INDEX.EXE conta com WiFi 6 e Bluetooth 5.2 para você se conectar sem fios com velocidade
                        incrível e baixa latência.</p>

                </div>
            </div>
        </section>
        <section id="summary">
            <div>
                <div>
                    <div>
                        <span class="summary-first">PLACA MÃE</span>
                        <span class="summary-second">Asus Z690 TUF | Wifi 6 e Bluetooth 5.1</span>
                    </div>
                    <div>
                        <span class="summary-first">FONTE</span>
                        <span class="summary-second">800W | Cooler Master 80 Plus Gold</span>
                    </div>
                    <div>
                        <span class="summary-first">Nº USB FRONTAL</span>
                        <span class="summary-second">2 | 2x USB 3.0</span>
                    </div>
                    <div>
                        <span class="summary-first">Nº USB TRASEIRA</span>
                        <span class="summary-second">8 | 6x USB 3.2 - 2x USB 3.2 Type-C</span>
                    </div>
                </div>
                <div>
                    <div>
                        <span class="summary-first">Nº COOLERS</span>
                        <span class="summary-second">7 | RGB</span>
                    </div>
                    <div>
                        <span class="summary-first">CONTROLE RGB</span>
                        <span class="summary-second">Sim | Software Asus Aura Sync</span>
                    </div>
                    <div>
                        <span class="summary-first">SISTEMA OPERACIONAL</span>
                        <span class="summary-second">Windows 11 | Versão de avaliação</span>
                    </div>
                    <div>
                        <span class="summary-first">PRAZO DE PRODUÇÃO</span>
                        <span class="summary-second">10 dias úteis</span>
                    </div>
                </div>

            </div>
        </section>


        <section id="shopping-bar">
            <div id="shopping-bar-text">
                <p>Core i7 12700k | RTX 4090 | Mem 32GB | Ssd 2tb | Water Cooler</p>
                <img src="/public/img/info-2-512.png" alt="">
            </div>
            <div id="shopping-bar-button">
                <div id="shopping-bar-button-text">
                    <span>À vista: R$ 53.749,00</span>
                    <span>ou 12x de R$ 5.090</span>
                </div>

                <button href=""><img src="/public/img/black-cart.png" alt="">Comprar</button>
            </div>
        </section>




        <section class="sobre">
            <div>
                <div id="texto">
                    <h1>DO IT YOURSELF</h1>
                    <span>Gamer Solutions</span>
                    <P>
                    <h2>Sobre Nós</h2>
                    </P>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Quae aspernatur eligendi unde molestias consequatur officiis, doloremque, et illum quas,
                        ipsa cupiditate blanditiis quod ducimus accusantium repellendus exercitationem veniam obcaecati?
                        Fugit?</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Quae aspernatur eligendi unde molestias consequatur officiis, doloremque, et illum quas,
                        ipsa cupiditate blanditiis quod ducimus accusantium repellendus exercitationem veniam obcaecati?
                        Fugit?</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Quae aspernatur eligendi unde molestias consequatur officiis, doloremque, et illum quas,
                        ipsa cupiditate blanditiis quod ducimus accusantium repellendus exercitationem veniam obcaecati?
                        Fugit?</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Quae aspernatur eligendi unde molestias consequatur officiis, doloremque, et illum quas,
                        ipsa cupiditate blanditiis quod ducimus accusantium repellendus exercitationem veniam obcaecati?
                        Fugit?</p>


                </div>
                <div id="sobre-links">
                    <div class="links">
                        <h3>Computadores</h3>
                        <ul>
                            <li>
                                <a href="">Entry Edition</a>
                            </li>
                            <li><a href="">Gamer Edition</a></li>
                            <li><a href="">Work Edition</a></li>
    
                        </ul>
                    </div>
                    <div class="links">
                        <h3>Links uteis</h3>
                        <ul>
                            <li><a href="">Trocas</a> </li>
                            <li><a href="">Contato</a> </li>
    
                        </ul>
                    </div>
    
                </div>
               
            </div>
        </section>
    </main>





</body>
</html>