<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/public/img/DIY_Logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/public/stylesheets/cadastro_usuario.css">
    <script src="/public/js/validacao_cadastro_user.js" defer></script>
    <title>DIY - Gamer Solutions</title>
</head>

<body>
    <header>
        <nav id="nav-logo">
            <a href="/public/views/home.html"><img class="logo" src="/public/images/DIY.png" alt=""></a>
        </nav>
        <nav id="nav-menu">
            <ul id="menu">
                <li><a href="/public/views/produto.html">ENTRY EDITION</a></li>
                <li><a href="/public/views/produto.html">GAMER EDITION</a></li>
                <li><a href="/public/views/produto.html">WORK EDITION</a></li>
            </ul>
        </nav>
        <nav id="icons">
            <a id="menu-user" href=""><img class="menu-icons" src="/public/images/account.png" alt=""></a>
            <a id="menu-dropdown" href=""><img class="menu-icons icon-small" src="/public/images/arrow-down.png"
                    alt=""></a>
            <a id="menu-cart" href="/public/views/Carrinho.html"><img class="menu-icons" src="/public/images/cart.png" alt=""></a>
            <a id="menu-sandwich" href=""><img class="menu-icons" src="/public/images/menu hamburguer.png" alt=""></a>
        </nav>

    </header>

    <main>



        <section id="cadastro">
            <div id="titulo-form">
                <h2>NOVA CONTA</h2>
                <span>Já tem conta? <a id="login-link" href="/public/views/login.html">Faça Login</a></span>
            </div>
            
            <div class="no-erros" id="div-erros">
                <ul>

                </ul>
            </div>

            <form id="cadastro-from" action="/public/views/home.html">
                <div class="form-itens">
                    <label for="name">Nome</label>
                    <input type="text" id="name" name="name">
                </div>
                <div class="form-itens">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email">
                </div>
                <div class="form-itens">
                    <label for="telefone">Telefone</label>
                    <input type="tel" id="telefone" name="telefone">
                </div>
                <div class="form-itens">
                    <label for="cpf">CPF</label>
                    <input type="text" id="cpf" name="cpf" minlength="11" maxlength="11">
                </div>
                <div class="form-itens">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" name="senha">
                </div>
                <div class="form-itens">
                    <label for="conf-senha">Confirme a senha</label>
                    <input type="password" id="conf-senha" name="conf-senha">
                </div>
                <button type="submit" id="submit-buton"><img id="black-img" src="/public/images/login_black.png"
                        alt=""><img id="white-img" src="/public/images/login_white.png" alt=""> <span>Cadastrar</span>
                </button>
            </form>
        </section>


    </main>

    <section class="sobre">
        <div>
            <div id="texto">
                <h1>DO IT YOURSELF</h1>
                <span>Gamer Solutions</span>
                <P>
                <h2>Sobre Nós</h2>
                </P>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Quae aspernatur eligendi unde molestias consequatur officiis, doloremque, et illum quas,
                    ipsa cupiditate blanditiis quod ducimus accusantium repellendus exercitationem veniam obcaecati?
                    Fugit?</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Quae aspernatur eligendi unde molestias consequatur officiis, doloremque, et illum quas,
                    ipsa cupiditate blanditiis quod ducimus accusantium repellendus exercitationem veniam obcaecati?
                    Fugit?</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Quae aspernatur eligendi unde molestias consequatur officiis, doloremque, et illum quas,
                    ipsa cupiditate blanditiis quod ducimus accusantium repellendus exercitationem veniam obcaecati?
                    Fugit?</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Quae aspernatur eligendi unde molestias consequatur officiis, doloremque, et illum quas,
                    ipsa cupiditate blanditiis quod ducimus accusantium repellendus exercitationem veniam obcaecati?
                    Fugit?</p>


            </div>
            <div id="sobre-links">
                <div class="links">
                    <h3>Computadores</h3>
                    <ul>
                        <li>
                            <a href="">Entry Edition</a>
                        </li>
                        <li><a href="">Gamer Edition</a></li>
                        <li><a href="">Work Edition</a></li>

                    </ul>
                </div>
                <div class="links">
                    <h3>Links uteis</h3>
                    <ul>
                        <li>TROCAS</li>
                        <li>CONTATO</li>

                    </ul>

                </div>
            </div>
        </div>
    </section>
    </main>


</body>

</html>