::-webkit-scrollbar {
    display: none;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
  body * {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
  }
  
  body{
    width: 100%;
  }
  
  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    font-size: .9rem;
    background-color: #3b3d3f;
  }
  
  a {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  
  }
  
  header nav {
    display: flex;
    flex-direction: row;
    width: 33.33%;
  }
  
  header>nav>a>img {
    width: 10rem;
  }
  
  #nav-hamburguer {
    display: none;
  }
  
  #menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
  
  #menu-user {
    display: flex;
    flex-direction: row;
  }
  
  #icons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 1rem;
    gap: 1rem;
  }
  
  .menu-icons {
    width: 1.5rem;
    color: white;
  }
  
  .icon-small {
    width: .75rem;
  }
  
  #menu-sandwich {
    display: none;
    cursor: pointer;
  
  }
  
  @media (max-width: 520px) {
  
  #nav-hamburguer {
        display: block;
        position: absolute;
        right: -100rem;
        top: 4.3rem;
        height: 5rem;
        background: #212529;
        transition: .5s;
        width: 10rem;
  }
  
  .nav-hamburguer-open {
    right: 0 !important;
  }
  
  #nav-menu {
    display: none;
  }
  
  #menu-hamburguer{
    flex-direction: column;
    gap: .7rem;
    align-items: center;
    justify-content: center;
  }
  
  #icones {
    display: block;
  }
  
    #menu-sandwich {
        display: block;
    }
  
    header nav {
        display: flex;
        flex-direction: row;
        width: 50%;
    }
  }
  
  
  
  .close {
    font-size: 2rem;
  
  }
  
  #cadastro {
    display: flex;
    position: fixed;
    z-index: 1;
    overflow: auto;
    background-color: #000000b4;
    width: 100vw;
    height: 100vh;
    top: 0;
    gap: 2rem;
  
    justify-content: center;
    align-items: center;
  
  
  }
  
  
  #cadastro>div {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 3rem;
    border-radius: 3rem;
    gap: 1rem;
    
  }
  #cadastro>div>div:first-of-type {
    justify-content: space-between;
  }
  #cadastro>div>div {
  
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
  
  
  #cadastro-from {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    align-items: center;
  }
  
  .form-itens {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: left;
  
  }
  
  .form-itens {
  width: 15rem;
  }
  
  .form-itens label {
    font-size: 20px;
  width: 15rem;
    text-align: justify;
    color: #868e96;
  }
  
  .form-itens input {
    width: 100%;
    background-color: transparent;
    border: #868e96 1px solid;
    height: 2rem;
    width: 15rem;
  }
  
  #cadastro-from button {
    display: flex;
    flex-direction: row;
    width: 15rem;
    height: 2rem;
    justify-content: center;
    gap: 1rem;
    background-color: white;
    text-transform: uppercase;
    border: #3b3d3f 1px solid;
    margin-top: 2rem;
    align-items: center;
  
  }
  #cadastro span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  #cadastro-from button:hover {
    background-color: #3b3d3f;
    color: white;
  
  }
  
  #cadastro-from button:hover #white-img {
    display: block;
  
  }
  
  #cadastro-from button:hover #black-img {
    display: none;
  
  }
  
  #cadastro-from #white-img {
    display: none;
  }
  
  
  #cadastro-from button>img {
    height: 60%;
  }
  
  #login-link {
    color: #F59B1A;
  }
  
  #login-link:hover {
    text-decoration: underline;
  }
  
  
  /* daqui pra baixo não tem mais nada relacionado ao header */


main {
  display: flex;
  flex-grow: 2;
  justify-content: space-around;
  flex-direction: column;
  height:500px;
  align-items: center;
}
  .sobre {
  background-color: #dedfe1;
  display: flex;
  width: 100%;
  min-height: 50vh;
  }
  
main .add-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.5rem;
}

  #sobre-links {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .sobre>div {
  padding: 4rem;
  align-items: flex-start;
  justify-content: space-around;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  
  }
  
  .links{
  gap: 1rem;
  width: 50%;
  }
  
  .links ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #404142;
  }
  
  #texto {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    text-align: justify;
  }
  
  #texto>span {
    color: #404142;
  }
  
  #texto>p {
    color: #404142;
    width: 80%;
  }
  
  .links a {
    color: #404142;
    background-color: transparent;
    text-decoration: none;
  }
  
  .links a:visited {
    color: #404142;
    background-color: transparent;
    text-decoration: none;
  
  }
  
  
  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  #shopping-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #3b3d3f !important;
    font-size: .9rem;
    min-height: 4rem;
    padding: 1rem;
    font-size: 1rem;
    color: hsl(38, 44%, 96%) !important;
  
  }
  
  #shopping-bar-text {
    width: 50%;
    display: flex;
    align-items: flex-start;
  
  }
  
  #shopping-bar-button {
    width: 50%;
    display: flex;
    align-items: flex-end;
  }
  
  #pagamento {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
  }
  
  #pagamento img {
    width: 2rem;
  }
  
  
  
  
  /*Início da responsividade da main*/
  
  
  
   /*Fim da responsividade da main. Início da responsividade do footer*/
  
  @media (max-width:796px) {
    .sobre>div{
      flex-direction: column;
      gap: 2rem;
    }
  
    #sobre-links {
      width: 100%;
      flex-direction: row;
    }
  
    #texto {
      width: 100%;
    }
  
    #texto p {
      width: 100%;
    }
  }
  
  @media (max-width: 510px) {
    .sobre {
      height: 1000px;
    }
  }
  
  
  @media (max-width: 431px){
  
    .description>p {
      letter-spacing: .4em;
      font-size: 10px;
    }
    
    .description>h1 {
      letter-spacing: .4em;
      font-size: 25px;
    }
  }
  
  @media (max-width: 420px) {
    .sobre {
      height: 1200px;
    }
  
    .sobre>div {
      padding: 2rem;
    }
  }
  
  @media (max-width: 328px) {
    .sobre>div {
      padding: 2rem;
    }
  }
  
   /*Fim da responsividade do footer*/