::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

li {
    list-style: none;
}

body * {

    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}

body {
    width: 100%;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    top: 0;
    font-size: .9rem;
    background-color: #3b3d3f;
}
li a {
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    background-color: transparent;
    text-decoration: none;

}

#menu a {
    color: white;

}


#menu a:visited {
    color: white;


}

header nav {
    display: flex;
    flex-direction: row;
    width: 33.33%;
}

header>nav>a>img {
    width: 10rem;
}

#menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

#icons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 1rem;
}

.menu-icons {
    width: 1.5rem;
    color: white;
}

.icon-small {
    width: .75rem;
    margin-right: 1rem;
    margin-left: .5rem;
}

#menu-sandwich {
    display: none;
    cursor: pointer;

}



.close {
    font-size: 2rem;
  
  }
  
  #cadastro {
    display: flex;
    position: fixed;
    z-index: 1;
    overflow: auto;
    background-color: #000000b4;
    width: 100vw;
    height: 100vh;
    top: 0;
    gap: 2rem;
  
    justify-content: center;
    align-items: center;
  
  
  }
  
  
  #cadastro>div {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 3rem;
    border-radius: 3rem;
    gap: 1rem;
    
  }
  #cadastro>div>div:first-of-type {
    justify-content: space-between;
  }
  #cadastro>div>div {
  
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
  
  
  #cadastro-from {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    align-items: center;
  }
  
  .form-itens {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: left;
  
  }
  
  .form-itens {
  width: 15rem;
  }
  .form-itens label {
    font-size: 20px;
  width: 15rem;
    text-align: justify;
    color: #868e96;
  }
  
  .form-itens input {
    width: 100%;
    background-color: transparent;
    border: #868e96 1px solid;
    height: 2rem;
    width: 15rem;
  }
  
  #cadastro-from button {
    display: flex;
    flex-direction: row;
    width: 15rem;
    height: 2rem;
    justify-content: center;
    gap: 1rem;
    background-color: white;
    text-transform: uppercase;
    border: #3b3d3f 1px solid;
    margin-top: 2rem;
    align-items: center;
  
  }
  #cadastro span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  #cadastro-from button:hover {
    background-color: #3b3d3f;
    color: white;
  
  }
  
  #cadastro-from button:hover #white-img {
    display: block;
  
  }
  
  #cadastro-from button:hover #black-img {
    display: none;
  
  }
  
  #cadastro-from #white-img {
    display: none;
  }
  
  
  #cadastro-from button>img {
    height: 60%;
  }
  
  
  
  
  
  #login-link {
    color: #F59B1A;
  }
  
  #login-link:hover {
    text-decoration: underline;
  }
  



/* daqui pra baixo não tem mais nada relacionado ao header */

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem;
}






.pedidos {

    color: #212529;
    text-align: center;
}

.seus-pedidos {
    text-transform: uppercase;
    letter-spacing: .12em;
    margin-bottom: 2rem;
    font-size: 4rem;
}

.frase {
    letter-spacing: .1em;
    font-size: 1.2rem;
}







.menu-horizontal {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 1rem;

}


#listagem {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 70%;
    gap: 2rem
}

#menu-inicial {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#menu-endereco {
    background-color: #585b5e;
}

#menu-pagamento {
    
    background-color: #3b3d3f;
}

.menu-finalizacao {
    display: flex;
    flex-direction: row;
    width: 49.5%;
    height: 4rem;

    justify-content: center;
    font-size: 1.4rem;
    color: white;
    text-decoration: none;

}

.menu-box {
    height: 15rem;
    justify-content: space-between;
    width: 50%;
}


#forma-pagamento {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 1rem;

}

#forma-pagamento>div {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2rem;


}

#sessao-pagamento-descricao {
    justify-content: center;
    background-color: #3b3d3f;
    text-transform: uppercase;
    color: white;
    padding: 1rem;
}

#sessao-pagamento {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


#sessao-pagamento form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-end;
}

#sessao-pagamento form>div {
    width: 100%;
    gap: 2rem;
    display: flex;
    flex-direction: row;
}

#sessao-pagamento form>div>div {
    gap: 1rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


#sessao-pagamento  input{
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    height: 2rem;
    width: 100%;
}
#sessao-pagamento  label{
    color: #585b5e;
  
}
#sessao-pagamento  a{
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
    height: 3rem;
    background-color: #3b3d3fdc;
    border: 0px;
    color: white;
    font-size: 1rem;
    text-decoration: none;
  
}
#sessao-pagamento  a:visited{
    
    text-decoration: none;
  
}




















.menu-vertical {
    width: 30%;
    display: flex;
    flex-direction: column;

}

.menu-vertical div {

    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #3b3d3f1f;
    padding: 1rem;
    gap: 1rem;
    align-items: flex-start;

}

.menu-vertical div>div {
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid gray;


}

.menu-vertical div:last-child {
    border-bottom: 0px
}

.menu-vertical div:last-child div:last-child span:last-child {
    font-weight: bolder;

}









.sobre {
    background-color: #dedfe1;
    display: flex;
    width: 100%;
    min-height: 50vh;
}

#sobre-links {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.sobre>div {
    padding: 4rem;
    align-items: flex-start;
    justify-content: space-around;
    display: flex;
    flex-flow: row wrap;
    width: 100%;

}

.links {
    gap: 1rem;
    width: 50%;
}

.links ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #404142;
}

#texto {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    text-align: justify;
}

#texto>span {
    color: #404142;
}

#texto>p {
    color: #404142;
    width: 80%;
}

.links a {
    color: #404142;
    background-color: transparent;
    text-decoration: none;
}

.links a:visited {
    color: #404142;
    background-color: transparent;
    text-decoration: none;

}



footer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  #shopping-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #3b3d3f !important;
    font-size: .9rem;
    min-height: 4rem;
    padding: 1rem;
    font-size: 1rem;
    color: hsl(38, 44%, 96%) !important;
  
  }
  
  #shopping-bar-text {
    width: 50%;
    display: flex;
    align-items: flex-start;
  
  }
  
  #shopping-bar-button {
    width: 50%;
    display: flex;
    align-items: flex-end;
  }
  
  #pagamento {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
  }
  
  #pagamento img {
    width: 6%;
  }


/*Início da responsividade da main*/










@media (max-width: 1366px) {

    #listagem {
        width: 90%;
    }

}

@media (max-width: 1190px) {
    #listagem {
        flex-direction: column;
        gap: 2rem;

    }

    .menu-horizontal {

        width: 100%;
    }

    .menu-vertical {
        order: -1;
        width: 100%;
    }

    .menu-vertical>ul {
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .menu-vertical>ul>li {
        width: 14rem;
        height: 4rem;

    }

}

@media (max-width: 1140px) {

    .menu-vertical>ul>li {
        font-size: 1.3rem;
        width: 48%;
        height: 4rem;

    }

    .menu-vertical>ul>li>img {
        width: 10%;
    }

}

@media (max-width: 1020px) {

    header {
        font-size: 1rem;
    }

}

@media (max-width: 950PX) {

    .sobre>div {
        flex-direction: column;
        gap: 2rem;
    }

    #texto {
        width: 100%;
    }

    #texto p {
        width: 100%;
    }

    #sobre-links {
        width: 100%;

    }

    .links {
        display: flex;
        flex-direction: column;


    }

    .links h3 {
        display: flex;
        justify-content: center;

    }


}





@media (max-width: 745px) {
    .menu-vertical>ul>li {
        font-size: 1rem;
    }

    #forma-pagamento>div {
        flex-direction: column;
    }

    .menu-box {
        width: 100%;
    }

    main {
        height: auto;
        padding: 2rem;
    }
}

@media (max-width: 670px) {
    #nav-menu {
        display: none;
    }

    #menu-user {
        display: none;
    }

    #menu-dropdown {
        display: none;
    }

    #menu-cart {
        display: none;
    }

    #menu-sandwich {
        display: block;
    }

    #nav-logo {
        width: 50%;
    }

    #icons {
        width: 50%;
    }

}





@media (max-width: 605px) {
    .menu-vertical>ul>li {
        font-size: 1rem;

    }
}

@media (max-width: 525px) {

    .seus-pedidos {
        font-size: 3rem;
    }

    #sessao-pagamento form>div{
        flex-direction: column;
        width: 100%;
    }
    #sessao-pagamento form>div>div{
        flex-direction: column;
        width: 100%;
    }
    #sessao-pagamento button{
       
        width: 100%;
    }




}

@media (max-width: 421px) {

    .seus-pedidos {
        font-size: 2rem;
    }

    .menu-finalizacao span {
        font-size: 1.1rem;

    }

    .condicao-pagamento button {
        width: 48%;
    }


}

@media (max-width: 415px) {

    .menu-vertical>ul {
        flex-direction: column;
        width: 100%;
    }

    .menu-vertical>ul>li {
        width: 100%;
    }

    .sobre>div {
        padding: 2rem;
    }


}

@media (max-width: 373px) {
    .condicao-pagamento span {
        font-size: 1rem;
    }

    .menu-vertical>ul>li>a {
        justify-content: space-between;
    }

    .menu-vertical>ul>li>a>span {
        justify-content: space-between;
    }

 

}


@media (max-width: 340px) {
    .sobre>div {
        padding: 1rem;
    }
}