<%- include('partials/header') %>     
    <main>
    <h2>Adicionar máquina</h2>
        <form class="add-form" action="/admin" method="post">
            <label for="titulo">Título</label>
            <input type="text" name="titulo" id="titulo">

            <label for="tipo">Especificações</label>
            <input type="text" name="tipo" id="tipo">

            <button type="submit">Enviar</button>

        </form>
    </main>
<%- include('partials/footer') %> 