<%- include('partials/header') %> 

    <main>
      

        <section class="first_homeimage">
            <div class="description">
                <p>um novo conceito</p>
                <h1>package.json</h1>
                <a href="/produto"><button>Confira aqui</button></a>
            </div>
        </section>
        <section class="second_homeimage">
            <div class="description">
                <p>quebre todas as barreiras</p>
                <h1>script.js</h1>
                <a href="/produto"><button>Confira aqui</button></a>
            </div>
        </section>
        <section class="third_homeimage">
            <div class="description">
                <p>tudo que você precisa</p>
                <h1>index.exe</h1>
                <a href="/produto"><button>Confira aqui</button></a>
            </div>
        </section>

    </main>

   
    </main>
    <%- include('partials/footer') %> 