
<%- include('partials/header_login') %> 


    <main>

 <section id="cadastro">
    <div>
        <h2>Login</h2>
        <span>Não tem conta? <a id="login-link" href="/cadastro_usuario">Cadastre-se</a></span>
    </div>


<form id="cadastro-from" action="">
    <div class="form-itens">
        <label for="">Email</label>
        <input type="email">
    </div>
    <div class="form-itens">
        <label for="">Senha</label>
        <input type="password">
    </div>

    <button id="submit-buton"><img id="black-img" src="/public/img/login_black.png" alt=""><img id="white-img" src="/public/img/login_white.png" alt=""> <span>Entrar</span> </button>
</form>
 </section>
       

    </main>

    <%- include('partials/footer') %> 
