<%- include('partials/header') %>     
    <main>

        <section class="painel">
            <div class="container">
                <div class="pedidos">
                    <h1 class="seus-pedidos">Seus pedidos</h1>
                        <div class="frase">
                            <div><p>Todos eles estão aqui.</p></div>
                        </div>
                 </div>
            </div>
        </section>

        <section>
            <div class="menu-horizontal">
                <ul>
                    <li>
                        Pedido #
                    </li>
                    <li>
                        Data
                    </li>
                    <li>
                        Total
                    </li>
                    <li>
                        Status
                    </li>
                    <li>
                        Ação
                    </li>
                </ul>
            </div>

            <div class="menu-vertical">
                <ul>
                    
                    <li><a href="#"><img class="icones" src="/public/img/pedido.png" alt=""></a>Pedidos</li>
                    <li><a href="#"><img class="icones" src="/public/img/carteira-de-identidade.png" alt=""></a>Dados Pessoais</li>
                    <li class="adress"><a href="#"><img class="icones" src="/public/img/endereco-residencial.png" alt=""></a>Endereço</li>
                    <li class="sair"><a href="#"><img class="icones" src="/public/img/sair.png" alt=""></a>Sair</li>
                </ul>
            </div>
 

    </main>
    <%- include('partials/footer') %> 