<%- include('partials/header') %> 

    <main>
        <section class="pcs">
            <div class="block1" id="img1">
                <h1>package.json</h1>
                <span>um novo conceito</span>
                <a href="/produto_detalhes"><button>comprar</button></a>
                
            </div>

            <div class="block1" id="img2">

                <h1>script.js</h1>
                <span>quebre todas as barreiras</span>
                <a href="/produto_detalhes"><button>comprar</button></a>
            </div>

            <div class="block1" id="img3">

                <h1>index.exe</h1>
                <span>tudo que você precisa</span>
                <a href="/produto_detalhes"><button>comprar</button></a>
            </div>

            <div class="block1" id="img4">

                <h1>git add .</h1>
                <span>Leve tudo com Você</span>
                <a href="/produto_detalhes"><button>comprar</button></a>
            </div>
        </section>
        <section class="faq">
            <div class="faqH">
                <h3>Duvidas mais comuns</h3>

            </div>
            <div class="faqP">
                <div>
                    <div>
                        <h4>Qual PC é ideal para minha empresa?</h4>
                        <p>A linha de PC DIY é divididas em três produtos, indicados de acordo com o segmento de
                            trabalho da sua empresa. A Heavy I foi concebida para fluxos de trabalho audiovisual, com
                            foco em edição de imagem e vídeo do pacote Adobe. Para as empresas de engenharia e
                            arquitetura a Heavy II é nossa recomendação por contar com um conjunto de processadores,
                            placas de vídeo e memórias mais robustos. Agora se sua empresa trabalha com pesquisa
                            científica, simulação de materias ou simplesmente quer otimizar o workflow o quanto for
                            possível, a Heavy V foi feita para você.</p>
                    </div>
                    <div>
                        <h4>Qual o prazo de entrega e política de frete?</h4>
                        <p>O frete é gratuito para todo Brasil. Utilizamos transportadora especializada em mercadorias
                            sensíveis, com seguro e garantia do recebimento e da integridade da sua encomenda. O prazo
                            de produção das workstations é de até 10 dias úteis após confirmação de pagamento, já o
                            prazo de transporte depende da região de entrega, ficando em torno de até 3 dias úteis para
                            capitais e 7 dias úteis para interiores.</p>
                    </div>

                </div>
                <div>
                    <div>
                        <h4>Qual o prazo de garantia dos PCs?</h4>
                        <p>Todas máquinas DIY contam com garantia de 1 (um) ano em todos os componentes e suporte
                            técnico vitalício durante toda vida útil do equipamento.</p>
                    </div>
                    <div>
                        <h4>A DIY trabalha com Intel Xeon, AMD Opteron, NVIDIA Quadro e AMD Fire Pro?</h4>
                        <p>Com base nos testes realizados em diversas aplicações profissionais e na nossa experiência
                            com clientes corporativos dos mais variados segmentos a linha de PCs DIY foi desenvolvida
                            utilizando os processadores AMD e Intel em combinação com as placas de vídeo NVIDIA GeForce.
                            Esse conjunto proporciona a melhor relação custo/performance para a grande maioria das
                            aplicações. Se sua empresa tem uma demanda que exige uma padronização de hardware
                            específica, não hesite em entrar em contato conosco.</p>
                    </div>

                </div>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %> 