<footer>
<section id="shopping-bar">
    <div id="shopping-bar-text">
        <p>Core i7 12700k | RTX 4090 | Mem 32GB | Ssd 2tb | Water Cooler</p>
        <img src="/images/info-2-512.png" alt="">
    </div>
    <div id="shopping-bar-button">
        <div id="shopping-bar-button-text">
            <span>À vista: R$ 53.749,00</span>
            <span>ou 12x de R$ 5.090</span>
        </div>

        <button href=""><img src="/images/black-cart.png" alt="">Comprar</button>
    </div>
</section>




<section class="sobre">
    <div>
        <div id="texto">
            <h1>DO IT YOURSELF</h1>
            <span>Gamer Solutions</span>
            <P>
            <h2>Sobre Nós</h2>
            </P>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Quae aspernatur eligendi unde molestias consequatur officiis, doloremque, et illum quas,
                ipsa cupiditate blanditiis quod ducimus accusantium repellendus exercitationem veniam obcaecati?
                Fugit?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Quae aspernatur eligendi unde molestias consequatur officiis, doloremque, et illum quas,
                ipsa cupiditate blanditiis quod ducimus accusantium repellendus exercitationem veniam obcaecati?
                Fugit?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Quae aspernatur eligendi unde molestias consequatur officiis, doloremque, et illum quas,
                ipsa cupiditate blanditiis quod ducimus accusantium repellendus exercitationem veniam obcaecati?
                Fugit?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Quae aspernatur eligendi unde molestias consequatur officiis, doloremque, et illum quas,
                ipsa cupiditate blanditiis quod ducimus accusantium repellendus exercitationem veniam obcaecati?
                Fugit?</p>


        </div>
        <div id="sobre-links">
            <div class="links">
                <h3>Computadores</h3>
                <ul>
                    <li>
                        <a href="">Entry Edition</a>
                    </li>
                    <li><a href="">Gamer Edition</a></li>
                    <li><a href="">Work Edition</a></li>

                </ul>
            </div>
            <div class="links">
                <h3>Links uteis</h3>
                <ul>
                    <li><a href="">Trocas</a> </li>
                    <li><a href="">Contato</a> </li>

                </ul>
            </div>

        </div>
       
    </div>
</section>
</footer>
</body>
</html>