
    <footer>
        <section class="sobre">
            <div>
                <div id="texto">
                    <h1>DO IT YOURSELF</h1>
                    <span>Gamer Solutions</span>
                    <P>
                    <h2>Sobre Nós</h2>
                    </P>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Quae aspernatur eligendi unde molestias consequatur officiis, doloremque, et illum quas,
                        ipsa cupiditate blanditiis quod ducimus accusantium repellendus exercitationem veniam obcaecati?
                        Fugit?</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Quae aspernatur eligendi unde molestias consequatur officiis, doloremque, et illum quas,
                        ipsa cupiditate blanditiis quod ducimus accusantium repellendus exercitationem veniam obcaecati?
                        Fugit?</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Quae aspernatur eligendi unde molestias consequatur officiis, doloremque, et illum quas,
                        ipsa cupiditate blanditiis quod ducimus accusantium repellendus exercitationem veniam obcaecati?
                        Fugit?</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Quae aspernatur eligendi unde molestias consequatur officiis, doloremque, et illum quas,
                        ipsa cupiditate blanditiis quod ducimus accusantium repellendus exercitationem veniam obcaecati?
                        Fugit?</p>
    
    
                </div>
                <div id="sobre-links">
                    <div class="links">
                        <h3>Computadores</h3>
                        <ul>
                            <li>
                                <a href="">Entry Edition</a>
                            </li>
                            <li><a href="">Gamer Edition</a></li>
                            <li><a href="">Work Edition</a></li>
    
                        </ul>
                    </div>
                    <div class="links">
                        <h3>Links uteis</h3>
                        <ul>
                            <li>TROCAS</li>
                            <li>CONTATO</li>
    
                        </ul>
    
                    </div>
                </div>
            </div>
        </section>



        <div id="shopping-bar">
            <div id="shopping-bar-text">
                <p>Todos os direitos reservados a DIY© </p>
            </div>
            <div id="shopping-bar-button">
                <div id="pagamento">
                    <img src="images/mastercard.svg" alt="">
                    <img src="images/visa.svg" alt="">
                    <img src="images/paypal.svg" alt="">
                </div>
            </div>
        </div>
    </footer>
</body>

</html>